// compileCompressed: ../css/styles.css

@font-face {
  font-family: 'BrownLL-Regular';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/BrownLL-Regular.woff2') format('woff2'),
    url('../fonts/BrownLL-Regular.woff') format('woff');
 }

:root {
  --font-primary: 'BrownLL-Regular', sans-serif;
  --color-text: #181800;
  --color-pink: #BD5498;
  --color-purple-light: #F3E6FF;
  --color-pink-light: #F9D4D4;
  --color-yellow-light: #FFF6E2;
}

// GLOBAL

body {
  font-family: var(--font-primary);
}

h1 {
  font-size: 50px;
  letter-spacing: -1.75px;
}
h2 {
  font-size: 37px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
small {
  font-size: 12px;
}
p.lead {
  font-size: 24px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
  p.lead {
    font-size: 18px;
  }
}

.color-purple-light {
  color: var(--color-purple-light);
}
.color-pink-light {
  color: var(--color-pink-light);
}

.btn {
  border-radius: 0;
  &.btn-lg {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
  }
  &.btn-dark {
    background: var(--color-text);
  }
}
.stars {
  color: var(--color-pink);
}
.quote {
  font-size: 60px;
}

blockquote {
  p {
    font-size: 24px;
  }
  cite {
    font-size: 16px;
    font-style: normal;
  }
}

.review {
  border: solid 1px #F3E6FF;
}

.container {
  max-width: 1440px;
  padding-left: 30px;
  padding-right: 30px;
}

// HEADER

#header {
  position: relative;
  z-index: 9999;
  nav.navbar {
    height: 160px;
    .container {
      max-width: 1540px;
    }
    .navbar-brand {
      img {
        height: 35px;
      }
    }
    ul.navbar-nav {
      li {
        margin-left: 7px;
        margin-right: 7px;
        a {
          font-size: 18px;
          color: var(--color-text);
        }
      }
    }
    a.basket {
      text-decoration: none;
      color: var(--color-text);
      font-size: 18px;
    }
  }
  @media (max-width: 991px) {
    nav.navbar {
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
      .navbar-brand {
        img {
          height: 20px;
        }
      }
    }
  }
  @media (min-width: 992px) {
    nav.navbar {
      .navbar-brand {
        transform: translateX(-25%);
      }
      .offcanvas.offcanvas-end {
        width: auto;
      }
    }
  }
}

// SECTIONS

#banner {
  position: relative;
  .info {
    position: absolute;
    top: 50%; left: 0; right: 0;
    transform: translateY(-50%);
  }
  @media (max-width: 767px) {
    .info {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

#plastic-free {
  background-color: var(--color-yellow-light);
}

// FOOTER
#footer {
  background: var(--color-text);
  .container {
    max-width: 1300px;
  }
  input.bg-dark {
    background-color: var(--color-text)!important;
  }
  h6 {
    font-size: 16px;
  }
  ul {
    padding: 0; margin: 0;
    li {
      padding: 0; margin: 0;
      list-style: none;
      line-height: 1.9;
      a {
        color: #FFF;
        text-decoration: none;
      }
    }
  }
}
